rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notifications/{notificationId} {
      allow read, write: if true;
    }

    match /posted_jobs/{jobId} {
      allow read, write: if true;
    }

    match /job_applications/{applicationId} {
      allow read, write: if true;
    }

    match /disciplinary_cases/{caseId} {
      allow read, write: if true;
    }
  }
}
